body{
	display: flex;
	position: absolute;
	margin: 0%;
	font-family: Arial, Helvetica, sans-serif;
	flex-direction: column;
}
.header{
	display: flex;
	background-color:rgb(147, 52, 243);
    min-width: 100vw;
    height: 40vh;
    padding: 20px;
    background-size: contain;
    position: relative;
    overflow: auto;
}
.logo{
	display: flex;
	width: 30%;
	height: 100%;
}
.titulos{
	position: relative;
	bottom: 40px;
	width: 60%;
	height: 100%;
}
.titulo{
	color:white;
	font-size: 6em;
}
.subtitulo{
	text-shadow: -7px 7px 4px rgb(0, 0, 0);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    font-style: oblique;
    color:  white;
    font-size: 3em;
    bottom: 30px;
    left: 50px;
}
.nav{
	display: flex;
	width: 100vw;
    height: 7vh;
    background-color:rgb(147, 52, 243);
    padding: 2px;
    margin-top:20px;
    justify-content: center;
    align-items: center;

}
.nav-link{
    font-size: 1.2em;
    color: white;
    padding-right: 70px;
    text-decoration: none;
}
.nav-link:hover{
    color:rgb(214, 49, 49);
}
main{
	display:flex;
	width:100vw;
	height:100vh;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	position:relative;
}
.parrafo{
	width:80vw;
	height:9vh;
}
.h3{
	text-align:center;
	font-size: 2em;
	color: black;
}
.formulario{
	width: 100vw;
	height:50vh;
	position:absolute;
	left:100px;
	top: 200px;
	bottom:100px;
}
.tabla{
    width: 30vw;
    border: 2;
    border-color: rgb(157, 20, 220);
    color: blue;
    border-style:groove;
    background-color: rgb(165, 165, 165);
}

td{
    border:2;
    border-color: rgb(157, 20, 220);
    border-style:groove;
}

.vacia{
    border: none;


}
footer{
	padding: 20px;
    width: 100vw;
    height: 28vh;
    background-color:rgb(147, 52, 243);
    font-size: 1.3em;
    display: flex;
    position: relative;
    background: contain;
    top: 400px;
    overflow: auto;
    justify-content: flex-start;

}
.contacto{
	position: relative;
}
.email{
	position: relative;
	top: 40px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.email:visited{
    color: blue;
    text-decoration: none;
}
.iframe{
    width: 200px;
    height: 100px;
}
.ubicacion{
	position: relative;
	left: 440px;
	font-size: 0.7em;
    color:white;
    bottom: 40px;
}
.mapa{
	position: relative;
    background-image: url(../../imagenes/map.png);
    background-size: 100%;
    width: 40px;
    height: 40px;
    top: 40px;
    left: 160px;
}
.telefono{
	position: relative;
    background-image: url(../../imagenes/tel.png);
    background-size: 100%;
    width: 40px;
    height: 40px;
    bottom: 120px;
    left: 230px;

}
.sobre{
	position: relative;
    background-image: url(../../imagenes/sobre.png);
    background-size: 100%;
    width: 40px;
    height: 40px;
    bottom: 60px;
    left: 340px;

}
@media (min-width: 600px) {
    .header{
        max-width:540px;
    }
}
@media (min-width:800px) {
    .header{
        max-width: 760px;
    }
}
@media (min-width:1200px) {
    .header{
        max-width:1050px;
    }
}
@media (min-width:2000px) {
    .header{
        max-width: 1950px;
    }
}
@media (min-width:2500px) {
    .header{
        max-width: 2320px;
    }
}
@media (min-width:3000px) {
    .header{
        max-width:2970px;
    }
}
@media (min-width:3600px) {
    .header{
        max-width:3320px;
    }
}
@media (min-width:4200px) {
    .header{
        max-width:3800px;
    }
}

